/* Стили для контейнера метки и чекбокса */
.checkbox-container {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
    user-select: none; /* Отключаем выделение текста */
    margin-bottom: 8px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 6px;
    appearance: none;
    background-color: white;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    box-sizing: border-box; /* Включаем бордеры в размеры */
    flex-shrink: 0; /* Не позволяем сжимать чекбокс */
}

.checkbox-input:checked {
    background: linear-gradient(45deg, #1481cf, #6bc0f3);
    /*border-color: #2196F3;*/
    border: 0;
}

.checkbox-input:checked::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 10px;
    height: 6px;
    border: solid 2px white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    animation: checkmark 0.3s ease forwards;
}

@keyframes checkmark {
    0% {
        width: 0;
        height: 0;
        transform: rotate(-45deg);
    }
    100% {
        width: 10px;
        height: 6px;
        transform: rotate(-45deg);
    }
}


/* Стили для метки */
.checkbox-label {
    font-size: 16px;
    color: #989898;
    transition: color 0.2s;
    box-sizing: border-box; /* Включаем бордеры в размеры */

}

/* Стили при наведении на чекбокс */
.checkbox-container:hover .checkbox-input {
    border-color: #1481cf;
}

.checkbox-container:hover .checkbox-label {
    color: #1481cf;
}
