.input {
    background: #171717;
    margin: 4px 8px;
    padding: 6px 8px;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Плавный переход при изменении границы */
}

input:focus {
    border: 2px solid #4D90FE;
    outline: none;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5); /* Синяя тень */
}

.input.error {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Красная тень при фокусе */
}

.message {
    position: relative;
    top: -6px;
    margin: 0px 8px;
}