.container {
    display: flex;
    flex-wrap: wrap;
    width: calc(250px + 15px * 2);
    background: #4b4b4b;
    border-radius: 15px;
    padding: 10px 15px;
}

.title {
    font-family: 'Arial', sans-serif; /* Выбор шрифта */
    font-size: 2rem; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #989898; /* Цвет текста */
    margin-bottom: 20px; /* Отступ снизу */
    text-align: center; /* Выравнивание по центру */
    letter-spacing: 1px; /* Расстояние между буквами */
    display: inline;
    position: relative;
    left: calc(18%/2);  /* Сдвигаем блок по горизонтали на половину его ширины */
}

.checkbox {
    margin: 8px;
    margin-top: 0px;
}

.form {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    width: 100%; /* Форма занимает всю доступную ширину */
}
